.start {
  display: none;

  width: 100px;
  height: 100px;

  padding: 20px;

  background-color: $white;

  color: $black;

  font-family: "Courier New", monospace;

  border: 2px solid $black;
  border-radius: 50%;

  &:active {
    color: $white;
    background-color: $black;
  }
}

.start--visible {
  display: block;
}
