.start {
  display: none;

  width: 100px;
  height: 100px;

  padding: 20px;

  background-color: $black;

  font-family: "Courier New", monospace;

  border: 2px solid $white;
  border-radius: 50%;

  &:active {
    color: $black;
    background-color: $white;
  }
}

.start--visible {
  display: block;
}
