html,
body {
  display: flex;

  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  background-color: $black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  overflow: hidden;
}
